.custom {
    font-size: smaller;
}

ion-tab-bar {
    height: 64px;
}

ion-fab-button {
    --background: rgb(0, 76, 218);
    --box-shadow: 0 0 0 8px #ffffff;
    margin-bottom: 8px !important;
}

ion-tab-bar,
ion-tab-button {
    background-color: rgb(255, 255, 255);
}

ion-tab-button:hover {
    ion-icon, ion-label {
        color: rgb(0, 76, 218) !important;
        --ion-color-base: rgb(0, 76, 218) !important;
    }
}

ion-tab-button {
    --color-selected: rgb(156, 156, 156) !important;
}